body,
html {
  background-image: url(https://t3.ftcdn.net/jpg/04/84/85/50/360_F_484855091_tgnHF1jS0YKdpTOudnGRUTPDfNRjaZ57.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
